.block{
    position: relative;
    width: 100%;
    text-align: center;
}
.block img {
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}
.block video {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}
.block:before {
    content: '';
    display: inline-block;
    width: 60px;
    height: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -30px;
    cursor: pointer;
}
.block.video:before {
    height: 60px;
    background: url(../editor/customComponent/icon_play.png);
    background-repeat: no-repeat;
}
.block.video img {
    max-height: 450px;
}
.block.image {

}
.block.audio {
    width: 100%;
    height: 200px;
    background: #eee;
}
.block.audio:before {
    height: 60px;
    background: url(../editor/customComponent/icon_trumpet.png);
    background-repeat: no-repeat;
}
.block.document {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 480px;
}
.block.document:before {
    height: 60px;
    background: url(../editor/customComponent/icon_file.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.block.hyperlink:before {}
.linkBlock{
    background: rgb(249,249,249);
    border: 1px solid #e8e8e8;
    height: 160px;
    overflow: hidden;
    text-align: left;
}
.linkBlock img {
    width: 160px;
    height: 160px;
    float: left;
    margin-right: 16px;
}
.linkBlock h3{
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    max-height: 48px;
    overflow: hidden;
    border: 0 ;
}
.linkBlock p {
    font-size: 13px;
    line-height: 20px;
    max-height: 40px;
    overflow: hidden;
    color: #8a8a8a;
}
.linkBlock .info {
    padding: 10px 16px;
}
.tag104{
    font-size: 13px;
    position: absolute;
    right: 16px;
    bottom: 0px;
    color: #8a8a8a;
}
.link {
    width: 100%;
    display: inline-block;
    overflow : hidden;
    text-overflow : ellipsis;
    white-space : nowrap;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select:none; 
    user-select:none;-o-user-select:none;
}
.loading:before {
    content: '';
    display: inline-block;
    width: 80px;
    height: 80px;
    background: url(../editor/customComponent/spin_invert.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -40px;
}
@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}
.handleText {
    color: #081b20;
    font-size: 20px;
    text-align: center;
    position: relative;
    top: calc(50% + 50px);
}
.loading-preset {
    width: 100%;
    height: 350px;
    position: relative;
    border: 3px dashed #aaa;
}