.itemEdit{
	margin-left: .5em;
}
.tempHint{
  text-align: center;
}

.readmore{
	text-align: center;
}
.readmoreBtn{
	display: inline-block;
	margin: 15px 0;
	padding: 5px 40px;
	border: 1px solid #d0d0d0;
	color: #34a8c4;
	cursor: pointer;
}
