@import "scss/cProfile.scss";

.privacy {
  &__top-alert {
    background-color: #f5b532;
    text-align: center;
    color: #000;
    font-size: 14px;
  }

  &__wrapper {
    padding: 10px 25px 30px;
  }

  &__title {
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    display: inline-block;
    color: #ff7e3d;
  }

  &__description {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 40px);

    b {
      color: #666;
    }

    p {
      font-size: 10px;
      line-height: 1em;
      color: #aaa;
      margin: 0;
      line-height: 1.4;
    }
  }

  &__share-setting {
    margin: 10px auto 25px auto;
    display: block !important;
  }
  &__option {
    vertical-align: middle;
    margin: 0 auto 20px auto;
    min-height: 2.5em;
    display: flex;

    @include rwd-to(384) {
      display: inherit;
    }

    &-left {
      width: 73.5%;

      @include rwd-to(640) {
        width: 73%;
      }
      @include rwd-to(600) {
        width: 71%;
      }
      @include rwd-to(568) {
        width: 69%;
      }
      @include rwd-to(533) {
        width: 67%;
      }
      @include rwd-to(480) {
        width: 63%;
      }
      @include rwd-to(414) {
        width: 56%;
      }
      @include rwd-to(384) {
        width: 100%;
      }
    }

    &-right {
      @include rwd-to(384) {
        padding: 5px 0 0 24px;
      }
    }

    .ant-radio {
      .ant-radio-inner {
        background-color: #ececec;
        &:hover {
          border-color: #f5b532;
        }
      }
      .ant-radio-input:hover {
        border-color: #f5b532;
      }

      &:hover {
        border-color: #f5b532;
      }
    }

    .ant-radio-checked .ant-radio-inner {
      border-color: #e2e2e2;
      background-color: #f5b532;

      &::after {
        background-color: #fff;
      }
    }
  }

  &__tool {
    float: right;
	  margin-top: -2px;
  }

  &__url {
    border-radius: 8px;
    border: solid 1px #d8d8d8;
    background-color: #fff;
    padding: 15px;
    margin: 0 auto;
    font-size: 14px;
    color: #333;
    text-align: left;
  
    input {
      border: 0;
      background-color: #fff;
      width: calc(100% - 75px);
    }
    i {
      padding: 5px;
      border-radius: 4px;
      background-color: #f5b532;
      color: #fff;
      font-size: 16px;
      position: relative;
      cursor: pointer;
    }
    .anticon-global {
      margin-left: 5px;
    }

  }

  &__hint {
    color: #aaa;
    font-size: 14px;
    margin: 5px 0;
    a {
      color: #aaa;
      &:hover {
        color: #aaa;
      }
    }
  }

  &__share {
    text-align: center;
    background-color: #f6f6f6;
    border-top: 1px solid #d8d8d8;
    padding: 20px 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  
    img {
      margin: 0 10px;
    }
  }

  &__loading {
    height: 26px;
	  margin: 3em calc(50% - 26px);
  }
}