.logo {
	width: 126px;
	height: auto !important;
}
.ant-dropdown-menu-item-active,
.ant-dropdown-menu-item-active a,
.ant-dropdown-menu-item:hover,
.publish-ready-main .ant-dropdown-menu-item-active span {
	background-color: #fff9da !important;
}
.ant-dropdown {
	z-index: 2002 !important;
}
