.personal-information {
	&-main {
		height: 100%;
		padding: 50px 0 0;
		background-color: #fbfbfb;
		overflow-y: auto;
	}
	
	&-small-business-card {
		padding: 15px 15px 0;
		overflow: hidden;

		img {
			border-radius: 50%;
			margin-right: 10px;
			float: left;
		}
		&-content {
			margin-top: 15px;
			line-height: 1.7;
			float: left;
			max-width: 184px;

			.personal-information-name {
				font-size: 18px;
				font-weight: 600;
				color: #333;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				word-break: break-all;
				width: 190px;
			}

			.personal-information-jobTitle,
			.personal-information-contact {
				font-size: 14px;
				color: #666;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				word-break: break-all;
				width: 190px;
			}
			.personal-information-contact {
				cursor: pointer;
				i {
					color: #bbb;
				}
			}
		}
	}

	&-attention {
		padding: 15px 15px 0;

		button:nth-child(1) {
			margin-right: 13px;
		}
	}

	&-data-main {
		padding: 0 15px;
		overflow: hidden;
		color: #666;
	}

	&-data-div {
		overflow: hidden;
		line-height: 1.9;
		font-size: 14px;

		span:nth-child(1) {
			float: left;
		}
		span:nth-child(1) i {
			margin-right: 5px;
			color: #bbb;
			font-size: 17px;
			vertical-align: sub;
		}
		span:nth-child(2) {
			float: right;
		}
	}

	&-plus {
		height: 50px;
		padding: 0 20px;
		font-size: 14px;
		position: relative;

		&::before {
			display: inline-block;
			content: '';
			height: 100%;
			vertical-align: middle;
		}

		img {
			display: inline-block;
			margin-right: 15px;
			vertical-align: middle;
		}

		&__info {
			display: inline-block;
			vertical-align: middle;
			height: 100%;
			p {
				margin: 0;
			}
		}

		&__title {
			color: #333;
			font-size: 16px;
			font-weight: 600;
		}

		&__analytics {
			position: relative;
			bottom: 0;
			color: #666;
		}
		
		&__action {
			position: absolute;
			top: 0;
			right: 20px;
			color: #f5b623;

			&:hover {
				color: #F7AD01;
			}
			.anticon {
				display: inline-block;
				vertical-align: middle;
			}
		}

		&__tagDiv {
			padding: 0 20px;
		}

		&__more {
			margin-left: 10px;
			text-decoration: underline;
			cursor: pointer;
		}

		&__tag {
			color: #fff;
			background-color: #f5b623;
			padding: 5px 10px;
			font-size: 12px;
			margin: 5px;
			display: inline-block;
			border-radius: 20px;
		}
	}

	&-share {
		padding: 0 15px;
		font-size: 14px;
		color: #666;
		i {
			color: #bbb;
			font-size: 17px;
			margin-right: 5px;
			vertical-align: sub;
		}

		img {
			margin: 0 10px 0 5px;
		}

	}

	&-similar-name {
		color: #666;
		font-size: 14px;
		padding: 0 15px;
		margin-bottom: 10px;
	}

	&-similar-small-business-card {
		padding: 10px 15px;
		overflow: hidden;

		&:hover {
			background-color: #f6f6f6;
		}
		img {
			border-radius: 50%;
			margin-right: 10px;
			float: left;
		}
		&-content {
			padding-top: 5px;
			overflow: hidden;
			line-height: 1.6;
			float: left;

			.personal-information-similar-userName {
				font-size: 16px;
				font-weight: 600;
				color: #333;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				word-break: break-all;
				width: 200px;
			}
			.personal-information-similar-jobTitle,
			.personal-information-similar-contact {
				font-size: 14px;
				color: #666;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				word-break: break-all;
				width: 200px;
			}
		}
	}

	&-center {
		position: absolute;
		width: 100%;
		text-align: center;
		top: 50%;
	}
}
