.statute-conditions {
	max-height: 300px;
	overflow-y: scroll;
	margin-bottom: 20px;
}
.statute-conditions a {
	color: #0192b5;
	text-decoration: none;
}
.statute-read-conditions {
	padding-top: 10px;
}
.statute-line {
	border-top: 1px solid #dcdcdc;
	padding-top: 20px;
	display: flex;
	justify-content: space-between;
}
