.menu {
	border-right: solid 1px #d4d4d4;
	overflow: auto;
}
.menu ul {
	margin: 0;
	padding: 0;	
}
.menu h3 {
	margin: 0;
	padding: 0;
	font-size: 14px;
	padding: 14px 10px;
	color: #404040;
}
.menu li {
	border-bottom: solid 1px #d4d4d4;
}
.menu a {
	display: block;
	padding: 14px 10px;
	background: #FFF;
	color: #404040;
	line-height: 1;
}
.menu button {
	margin: 0;
	padding: 14px 10px;
	border: 0;
	width: 100%;
	display: block;
	background: #FFF;
	color: #404040;
	text-align: left;
}
.icon_float_right{
	float: right;
}
