.wrapper {
	margin-top: 20px;
}
.newsletter_main {
  padding: 15px 30px;
  margin-bottom: 60px;
}
.newsletter_main table {
  width: 80%;
  margin: 30px auto;
}
.newsletter_main table tr td {
  padding: 15px 0;
}
.actions {
	text-align: center;
}