.notice_wrap{
    z-index: 21;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 70px auto 0;
    min-width: 200px;
    max-width: 600px;
    max-height: 100px;
    transition: max-height .5s ease-in;
}
.notice_wrap.hide {
    max-height: 0;
    overflow: hidden;
}
.notice {
    line-height: 20px;
    border-radius: 4px;
    text-align: left;
    border: 1px solid #C9BA9B;
    background-color: #FFF6F6;
    color: #573A08;
    overflow: hidden;
}
.notice p {
    display: inline-block;
    margin: 0;
    padding: 16px 20px;
}
.notice.alert{
    border: 1px solid #E0B4B4;
    background-color: #FFF6F6;
    color: #9F3A38
}

.remove {
	cursor: pointer;
}
.remove_block {
	float: right;
	padding: 16px 20px;
	font-size: 1.4em;
}
