
button[class*="-btn"] {
  display: inline-block;
  vertical-align: top;
  width: auto;
  overflow: visible;
  font-size: 14px;
  line-height: 14px;
  border-radius: 3px;
  padding: 7px 14px 6px;
  cursor: pointer;
}
button[class*="-btn"][class*="pif-"]:before {
  margin-right: .5rem;
}
button.img-btn {
  border: 0;
  padding: 0;
  background: none;
}
button.img-btn[class*='pif-']:before {
  margin-right: 0;
}
button.txt-btn {
  background: none;
  border: none;
}

/*******************************
            Button
*******************************/

.ui.button {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: none;
  border: solid 1px #ddd;
  vertical-align: baseline;
  background: #fff none;
  color: #000;
  margin: 0em 0.25em 0em 0em;
  padding: 8px 16px;
  text-transform: none;
  text-shadow: none;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: 0.28571429rem;
  box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
          transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
  will-change: '';
  -webkit-tap-highlight-color: transparent;
  line-height: 1em;
}
.ui.icon.button {
  padding-left: 9px;
  padding-right: 6px;
}


/*******************************
            States
*******************************/


/*--------------
      Hover
---------------*/

.ui.button:hover {
  background-image: none;
  box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
  color: rgba(0, 0, 0, 0.8);
}
.ui.button:hover .icon {
  opacity: 0.85;
}

/*--------------
      Focus
---------------*/

.ui.button:focus {
  color: rgba(0, 0, 0, 0.8);
  background-image: '' !important;
  box-shadow: '' !important;
}
.ui.button:focus .icon {
  opacity: 0.85;
}

/*--------------
      Down
---------------*/

.ui.button:active,
.ui.active.button:active {
  background-color: #babbbc;
  background-image: '';
  color: rgba(0, 0, 0, 0.9);
  box-shadow: 0px 0px 0px 1px transparent inset, none;
}

/*--------------
     Active
---------------*/

.ui.active.button {
  background-color: #c0c1c2;
  background-image: none;
  box-shadow: 0px 0px 0px 1px transparent inset;
  color: rgba(0, 0, 0, 0.95);
}
.ui.active.button:hover {
  background-color: #c0c1c2;
  background-image: none;
  color: rgba(0, 0, 0, 0.95);
}
.ui.active.button:active {
  background-color: #c0c1c2;
  background-image: none;
}

/*--------------
    Loading
---------------*/

.ui.loading.button, .ui.checked.button {
  position: relative;
  text-indent: -9999px;
  min-width: 60px;
}
.ui.loading.button:before{
  content:"";
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url(spin.svg);
  background-repeat: no-repeat;
  background-position: 0 2px;
  position: absolute;
}
.ui.checked:before{
  content: "\f50c";
  width: 16px;
  height: 18px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 0 3px;
  position: absolute;
  top: 23%;
  left: 6px;
}

/*-------------------
      Disabled
--------------------*/

.ui.buttons .disabled.button,
.ui.disabled.button,
.ui.button:disabled,
.ui.disabled.button:hover,
.ui.disabled.active.button {
  cursor: default;
  opacity: 0.45 !important;
  background-image: none !important;
  box-shadow: none !important;
  pointer-events: none;
}


/*-------------------
       Inverted
--------------------*/

.ui.inverted.button {
  box-shadow: 0px 0px 0px 2px #ffffff inset !important;
  background: transparent none;
  color: #ffffff;
  text-shadow: none !important;
}

/* Group */
.ui.inverted.buttons .button {
  margin: 0px 0px 0px -2px;
}
.ui.inverted.buttons .button:first-child {
  margin-left: 0em;
}
.ui.inverted.vertical.buttons .button {
  margin: 0px 0px -2px 0px;
}
.ui.inverted.vertical.buttons .button:first-child {
  margin-top: 0em;
}

/* States */

/* Hover */
.ui.inverted.button:hover {
  background: #ffffff;
  box-shadow: 0px 0px 0px 2px #ffffff inset !important;
  color: rgba(0, 0, 0, 0.8);
}

/* Active / Focus */
.ui.inverted.button:focus,
.ui.inverted.button.active {
  background: #ffffff;
  box-shadow: 0px 0px 0px 2px #ffffff inset !important;
  color: rgba(0, 0, 0, 0.8);
}

/* Active Focus */
.ui.inverted.button.active:focus {
  background: #dcddde;
  box-shadow: 0px 0px 0px 2px #dcddde inset !important;
  color: rgba(0, 0, 0, 0.8);
}

/*-------------------
    Labeled Button
--------------------*/

.ui.labeled.button:not(.icon) {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  background: none !important;
  padding: 0px !important;
  border: none !important;
  box-shadow: none !important;
}
.ui.labeled.button > .button {
  margin: 0px;
}
.ui.labeled.button > .label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 0px -1px !important;
  padding: '';
  font-size: 1em;
  border-color: rgba(34, 36, 38, 0.15);
}

/* Tag */
.ui.labeled.button > .tag.label:before {
  width: 1.85em;
  height: 1.85em;
}

/* Right */
.ui.labeled.button:not([class*="left labeled"]) > .button {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.ui.labeled.button:not([class*="left labeled"]) > .label {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

/* Left Side */
.ui[class*="left labeled"].button > .button {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.ui[class*="left labeled"].button > .label {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

/*-------------------
       Social
--------------------*/



/*--------------
     Icon
---------------*/

.ui.button > .icon:not(.button) {
  height: 0.85714286em;
  opacity: 0.8;
  margin: 0em 0em 0em -0.21428571em;
  -webkit-transition: opacity 0.1s ease;
          transition: opacity 0.1s ease;
  vertical-align: '';
  color: '';
}
.ui.button > .right.icon:not(.button) {
  margin: 0em -0.21428571em 0em 0.42857143em;
}


/*******************************
           Variations
*******************************/


/*-------------------
       Floated
--------------------*/

.ui[class*="left floated"].buttons,
.ui[class*="left floated"].button {
  float: left;
  margin-left: 0em;
  margin-right: 0.25em;
}
.ui[class*="right floated"].buttons,
.ui[class*="right floated"].button {
  float: right;
  margin-right: 0em;
  margin-left: 0.25em;
}

/*-------------------
       Compact
--------------------*/

.ui.compact.buttons .button,
.ui.compact.button {
  padding: 0.58928571em 1.125em 0.58928571em;
}
.ui.compact.icon.buttons .button,
.ui.compact.icon.button {
  padding: 0.58928571em 0.58928571em 0.58928571em;
}
.ui.compact.labeled.icon.buttons .button,
.ui.compact.labeled.icon.button {
  padding: 0.58928571em 3.69642857em 0.58928571em;
}

/*--------------
    Icon Only
---------------*/

.ui.icon.buttons .button,
.ui.icon.button {
}
.ui.icon.buttons .button > .icon,
.ui.icon.button > .icon {
  opacity: 0.9;
  margin: 0em;
  vertical-align: top;
}

/*--------------
  Labeled Icon
---------------*/

.ui.labeled.icon.buttons .button,
.ui.labeled.icon.button {
  position: relative;
  padding-left: 4.07142857em !important;
  padding-right: 1.5em !important;
}

/* Left Labeled */
.ui.labeled.icon.buttons > .button > .icon,
.ui.labeled.icon.button > .icon {
  position: absolute;
  height: 100%;
  line-height: 1;
  border-radius: 0px;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  text-align: center;
  margin: 0em;
  width: 2.57142857em;
  background-color: rgba(0, 0, 0, 0.05);
  color: '';
  box-shadow: -1px 0px 0px 0px transparent inset;
}

/* Left Labeled */
.ui.labeled.icon.buttons > .button > .icon,
.ui.labeled.icon.button > .icon {
  top: 0em;
  left: 0em;
}

/* Right Labeled */
.ui[class*="right labeled"].icon.button {
  padding-right: 4.07142857em !important;
  padding-left: 1.5em !important;
}
.ui[class*="right labeled"].icon.button > .icon {
  left: auto;
  right: 0em;
  border-radius: 0px;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
  box-shadow: 1px 0px 0px 0px transparent inset;
}
.ui.labeled.icon.buttons > .button > .icon:before,
.ui.labeled.icon.button > .icon:before,
.ui.labeled.icon.buttons > .button > .icon:after,
.ui.labeled.icon.button > .icon:after {
  display: block;
  position: absolute;
  width: 100%;
  top: 50%;
  text-align: center;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.ui.labeled.icon.buttons .button > .icon {
  border-radius: 0em;
}
.ui.labeled.icon.buttons .button:first-child > .icon {
  border-top-left-radius: 0.28571429rem;
  border-bottom-left-radius: 0.28571429rem;
}
.ui.labeled.icon.buttons .button:last-child > .icon {
  border-top-right-radius: 0.28571429rem;
  border-bottom-right-radius: 0.28571429rem;
}
.ui.vertical.labeled.icon.buttons .button:first-child > .icon {
  border-radius: 0em;
  border-top-left-radius: 0.28571429rem;
}
.ui.vertical.labeled.icon.buttons .button:last-child > .icon {
  border-radius: 0em;
  border-bottom-left-radius: 0.28571429rem;
}

/* Fluid Labeled */
.ui.fluid[class*="left labeled"].icon.button,
.ui.fluid[class*="right labeled"].icon.button {
  padding-left: 1.5em !important;
  padding-right: 1.5em !important;
}

/*--------------
     Toggle
---------------*/


/* Toggle (Modifies active state to give affordances) */
.ui.toggle.buttons .active.button,
.ui.buttons .button.toggle.active,
.ui.button.toggle.active {
  background-color: #21ba45 !important;
  box-shadow: none !important;
  text-shadow: none;
  color: #ffffff !important;
}
.ui.button.toggle.active:hover {
  background-color: #16ab39 !important;
  text-shadow: none;
  color: #ffffff !important;
}

/*--------------
    Circular
---------------*/

.ui.circular.button {
  border-radius: 10em;
}
.ui.circular.button > .icon {
  width: 1em;
  vertical-align: baseline;
}



/*-------------------
       Attached
--------------------*/


/* Singular */
.ui.attached.button {
  position: relative;
  display: block;
  margin: 0em;
  border-radius: 0em;
  box-shadow: 0px 0px 0px 1px rgba(34, 36, 38, 0.15) !important;
}

/* Top / Bottom */
.ui.attached.top.button {
  border-radius: 0.28571429rem 0.28571429rem 0em 0em;
}
.ui.attached.bottom.button {
  border-radius: 0em 0em 0.28571429rem 0.28571429rem;
}

/* Left / Right */
.ui.left.attached.button {
  display: inline-block;
  border-left: none;
  text-align: right;
  padding-right: 0.75em;
  border-radius: 0.28571429rem 0em 0em 0.28571429rem;
}
.ui.right.attached.button {
  display: inline-block;
  text-align: left;
  padding-left: 0.75em;
  border-radius: 0em 0.28571429rem 0.28571429rem 0em;
}

/* Plural */
.ui.attached.buttons {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0em;
  width: auto !important;
  z-index: 2;
  margin-left: -1px;
  margin-right: -1px;
}
.ui.attached.buttons .button {
  margin: 0em;
}
.ui.attached.buttons .button:first-child {
  border-radius: 0em;
}
.ui.attached.buttons .button:last-child {
  border-radius: 0em;
}

/* Top / Bottom */
.ui[class*="top attached"].buttons {
  margin-bottom: -1px;
  border-radius: 0.28571429rem 0.28571429rem 0em 0em;
}
.ui[class*="top attached"].buttons .button:first-child {
  border-radius: 0.28571429rem 0em 0em 0em;
}
.ui[class*="top attached"].buttons .button:last-child {
  border-radius: 0em 0.28571429rem 0em 0em;
}
.ui[class*="bottom attached"].buttons {
  margin-top: -1px;
  border-radius: 0em 0em 0.28571429rem 0.28571429rem;
}
.ui[class*="bottom attached"].buttons .button:first-child {
  border-radius: 0em 0em 0em 0.28571429rem;
}
.ui[class*="bottom attached"].buttons .button:last-child {
  border-radius: 0em 0em 0.28571429rem 0em;
}

/* Left / Right */
.ui[class*="left attached"].buttons {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 0em;
  margin-left: -1px;
  border-radius: 0em 0.28571429rem 0.28571429rem 0em;
}
.ui[class*="left attached"].buttons .button:first-child {
  margin-left: -1px;
  border-radius: 0em 0.28571429rem 0em 0em;
}
.ui[class*="left attached"].buttons .button:last-child {
  margin-left: -1px;
  border-radius: 0em 0em 0.28571429rem 0em;
}
.ui[class*="right attached"].buttons {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 0em;
  margin-right: -1px;
  border-radius: 0.28571429rem 0em 0em 0.28571429rem;
}
.ui[class*="right attached"].buttons .button:first-child {
  margin-left: -1px;
  border-radius: 0.28571429rem 0em 0em 0em;
}
.ui[class*="right attached"].buttons .button:last-child {
  margin-left: -1px;
  border-radius: 0em 0em 0em 0.28571429rem;
}


/*-------------------
       Nomal
--------------------*/

.ui.nomal.buttons .button,
.ui.nomal.button {
  background-color: #ffffff;
  color: #000000;
  text-shadow: none;
  background-image: none;
  border: 1px solid #d0d0d0;
}
.ui.nomal.button {
  box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
}
.ui.nomal.buttons .button:hover,
.ui.nomal.button:hover {
  background-color: #f4f4f4;
  color: #000000;
  text-shadow: none;
}
.ui.nomal.buttons .button:focus,
.ui.nomal.button:focus {
  background-color: #f4f4f4;
  color: #000000;
  text-shadow: none;
}
.ui.nomal.buttons .button:active,
.ui.nomal.button:active {
  background-color: #f4f4f4;
  color: #000000;
  text-shadow: none;
}
.ui.nomal.buttons .active.button,
.ui.nomal.active.button {
  background-color: #f4f4f4;
  color: #000000;
  text-shadow: none;
}
.ui.nomal.buttons .button:disabled,
.ui.nomal.button:disabled {
  background-color: #CCCCCC;
  color: #f4f4f4;
  border:solid 1px #ccc;
}


/*-------------------
       Primary
--------------------*/

.ui.primary.buttons .button,
.ui.primary.button {
  background-color: #34A8C4;
  color: #ffffff;
  text-shadow: none;
  background-image: none;
}
.ui.primary.button {
  box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
  border: none;
}
.ui.primary.buttons .button:hover,
.ui.primary.button:hover {
  background-color: #0192b5;
  color: #ffffff;
  text-shadow: none;
}
.ui.primary.buttons .button:focus,
.ui.primary.button:focus {
  background-color: #0192b5;
  color: #ffffff;
  text-shadow: none;
}
.ui.primary.buttons .button:active,
.ui.primary.button:active {
  background-color: #0192b5;
  color: #ffffff;
  text-shadow: none;
}
.ui.primary.buttons .active.button,
.ui.primary.active.button {
  background-color: #0192b5;
  color: #ffffff;
  text-shadow: none;
}
.ui.primary.buttons .button:disabled,
.ui.primary.button:disabled {
  background-color: #CCCCCC;
  color: #f4f4f4;
  border:solid 1px #ccc;
}



/*-------------------
       Orange
--------------------*/

.ui.orange.buttons .button,
.ui.orange.button {
  background-color: #f2711c;
  color: #ffffff;
  text-shadow: none;
  background-image: none;
}
.ui.orange.button {
  box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
  border: none;
}
.ui.orange.buttons .button:hover,
.ui.orange.button:hover {
  background-color: #f26202;
  color: #ffffff;
  text-shadow: none;
}
.ui.orange.buttons .button:focus,
.ui.orange.button:focus {
  background-color: #f26202;
  color: #ffffff;
  text-shadow: none;
}
.ui.orange.buttons .button:active,
.ui.orange.button:active {
  background-color: #f26202;
  color: #ffffff;
  text-shadow: none;
}
.ui.orange.buttons .active.button,
.ui.orange.active.button {
  background-color: #f26202;
  color: #ffffff;
  text-shadow: none;
}
.ui.orange.button:focus,
.ui.orange.buttons .button:focus {
  background-color: #e55b00;
  color: #fff;
  text-shadow: none;
}
.ui.basic.orange.button,
.ui.basic.orange.buttons .button {
  box-shadow: 0 0 0 1px #f2711c inset!important;
  color: #000!important;
  background: #fff;
}
.ui.basic.orange.button:hover,
.ui.basic.orange.buttons .button:hover {
  background: 0 0!important;
  box-shadow: 0 0 0 1px #f26202 inset!important;
  color: #000!important;
}
.ui.basic.orange.button:active,
.ui.basic.orange.buttons .button:active {
  box-shadow: 0 0 0 1px #cf590c inset!important;
  color: #000!important;
}
/*-------------------
       transparent
--------------------*/

.ui.transparent.buttons .button,
.ui.transparent.button {
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: transparent;
  border: solid 1px;
  color: #ffffff;
  text-shadow: none;
  background-image: none;
}
.ui.transparent.button {
  box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
}
.ui.transparent.buttons .button:hover,
.ui.transparent.button:hover {
  background-color: transparent;
  color: #ffffff;
  text-shadow: none;
}
.ui.transparent.buttons .button:focus,
.ui.transparent.button:focus {
  background-color: transparent;
  color: #ffffff;
  text-shadow: none;
}
.ui.transparent.buttons .button:active,
.ui.transparent.button:active {
  background-color: transparent;
  color: #ffffff;
  text-shadow: none;
}
.ui.transparent.buttons .active.button,
.ui.transparent.active.button {
  background-color: transparent;
  color: #ffffff;
  text-shadow: none;
}

/*-------------------
      Line
--------------------*/
.ui.line.buttons .button,
.ui.line.button {
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #FFFFFF;
  border: solid 1px #34a8c4;
  color: #0192B5;
  text-shadow: none;
  background-image: none;
}
.ui.line.button {
  box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
}
.ui.line.buttons .button:hover,
.ui.line.button:hover {
  background-color: #def6ff;
  color: #0192b5;
  text-shadow: none;
  border: solid 1px #34a8c4;
}
.ui.line.buttons .button:focus,
.ui.line.button:focus {
  background-color: #def6ff;
  color: #0192b5;
  text-shadow: none;
  border: solid 1px #34a8c4;
}
.ui.line.buttons .button:active,
.ui.line.button:active {
  background-color: #def6ff;
  color: #0192b5;
  text-shadow: none;
  border: solid 1px #34a8c4;
}
.ui.line.buttons .active.button,
.ui.line.active.button {
  background-color: #def6ff;
  color: #0192b5;
  text-shadow: none;
  border: solid 1px #34a8c4;
}

.ui.line.buttons .button:disabled,
.ui.line.button:disabled {
  background-color: #CCCCCC;
  color: #f4f4f4;
  border:solid 1px #ccc;
}

/*-------------------
      Secondary
--------------------*/

.ui.secondary.buttons .button,
.ui.secondary.button {
  background-color: #1b1c1d;
  color: #ffffff;
  text-shadow: none;
  background-image: none;
}
.ui.secondary.button {
  box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
}
.ui.secondary.buttons .button:hover,
.ui.secondary.button:hover {
  background-color: #27292a;
  color: #ffffff;
  text-shadow: none;
}
.ui.secondary.buttons .button:focus,
.ui.secondary.button:focus {
  background-color: #2e3032;
  color: #ffffff;
  text-shadow: none;
}
.ui.secondary.buttons .button:active,
.ui.secondary.button:active {
  background-color: #343637;
  color: #ffffff;
  text-shadow: none;
}
.ui.secondary.buttons .active.button,
.ui.secondary.active.button {
  background-color: #27292a;
  color: #ffffff;
  text-shadow: none;
}


/*******************************
            Groups
*******************************/

.ui.buttons {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  vertical-align: baseline;
}
.ui.buttons:not(.basic):not(.inverted) {
  box-shadow: none;
}

/* Clearfix */
.ui.buttons:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Standard Group */
.ui.buttons .button {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin: 0em;
  border-radius: 0em;
  margin: 0px 0px 0px 0px;
}
.ui.buttons > .ui.button:not(.basic):not(.inverted),
.ui.buttons:not(.basic):not(.inverted) > .button {
  box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
}
.ui.buttons .button:first-child {
  border-top-left-radius: 0.28571429rem;
  border-bottom-left-radius: 0.28571429rem;
}
.ui.buttons .button:last-child {
  border-top-right-radius: 0.28571429rem;
  border-bottom-right-radius: 0.28571429rem;
}

.ui.transparent.buttons .button:last-child {
  border-left: none;
}

.ui.small.primary.button,
.ui.small.normal.button,
.ui.small.line.button,
.ui.small.button {
  padding: 6px 12px;
}

/*******************************
         Theme Overrides
*******************************/



/*******************************
         Site Overrides
*******************************/
