.sub_function_row {
    text-align: left;
}

.container {
    text-align: left;
    padding: 5px 0;
}

.endorse_item {
    display: inline-block;
    vertical-align: middle;
    margin: 15px 15px 15px 0;
    padding: 5px 10px;
    border-radius: 5px;
    background: #cfcfcf;
    color: #081b20;
    cursor: pointer;
    /*box-shadow: 2px 2px 2px rgba(40%,40%,40%,0.5);*/
}

.endorse_textfield {
    text-align: left;
}

.endorse_textfield input:focus {
    border: 1px solid #ccc;
}

.endorse_btn {
    margin-top: 13px;
    color: #0192B5;
    border: 1px solid #0192B5;
    border-radius: 4px;
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
}

.tag_item {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #d0d0d0;
    margin: 10px 10px 10px 0px;
    padding: 5px 10px;
    border-radius: 4px;
}

.endorse_item i,
.tag_item .text i {
    margin-left: 10px;
    cursor: pointer;
}

.tag_errorMsg,
.tag_textfield_block {
    display: inline-block;
    vertical-align: middle;
}

.tag_textfield input {
    border-color: #d3d3d3;
    font-size: 14px;
    border-radius: 4px;
}

.tag_textfield input::placeholder {
    color: #9197a3;
}

.tag_textfield input:focus {
    border-color: #d3d3d3;
}

.tag_textfield input:focus::placeholder {
    color: #bdc1c9;
}

.tag_textfield>div {
    display: flex;
    align-items: center;
}

.tag_textfield>div>div {
    padding-left: 15px;
}

.tag_textfield input {
    margin: 10px 10px 10px 0;
    flex: 3;
}