/**
 * operating-area
 */
.operating-area {
	flex: 1 1 auto;
	justify-content: flex-end;
}
.subscribe {
	position: absolute;
	margin-top: 4%;
}
.btn-wrap, .text-wrap {
	margin-top: 6%;
	text-align: right;
}
.operating-area button {
	margin-left: 5px;
}