@import "scss/cProfile.scss";

/* 第一個模板 */
.talent-def {
	.talent-container {
		display: flex;
		flex-wrap: wrap;
		margin: 0 0 40px;
		vertical-align: top;
		text-align: left;

		@include rwd-to(414) {
			margin: 0 15px;
		}

		.drag-wrapper {
			flex-basis: (100% / 3);

			@include rwd-to(900) {
				flex-basis: 50%;
			}
			@include rwd-to(568) {
				flex-basis: 100%;
			}
		}

		.talent-displayFlex {
			@include rwd-to(900) {
				flex-basis: 50%;
			}
			@include rwd-to(568) {
				flex-basis: 100%;
			}
		}

		.talent-main-tem1 {
			align-content: flex-start;
			margin-top: 20px;
			flex-basis: 33%;

			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3) {
				margin-top: 0;
			}

			&:nth-child(3n) {
				margin-right: 0;
			}

			&.talent-preview {
				@include rwd-to(900) {
					flex-basis: 50%;
				}
				@include rwd-to(568) {
					flex-basis: 100%;
				}
			}

			.content {
				margin: 25px 20px;

				.content-top {
					border-bottom: 1px solid #d8d8d8;

					.span-icon {
						width: 3px;
						background-color: #48eeff;
						margin-right: 10px;
						height: 22px;
						float: left;
					}

					.tag-input--def {
						font-size: 16px;
						width: 93%;
						color: #484848;
					}
				}

				.talent-star {
					text-align: right;
					padding-top: 3px;
				}
			}
		}
	}
}

/* 第二個模板 */
.talent-dark {
	.talent-container {
		display: flex;
		flex-wrap: wrap;
		margin: 0 0 40px;
		vertical-align: top;
		text-align: left;

		@include rwd-to(414) {
			margin: 0 15px;
		}

		.talent-displayFlex {
			flex-basis: 100%;
		}

		.talent-main-tem2 {
			clear: both;
			margin: 20px;
			position: relative;
			flex-basis: 100%;

			@include rwd-to(568) {
				margin: 0;
			}

			&:nth-child(1) {
				margin-top: 0;
			}

			.span-icon {
				float: left;
				width: 3px;
				background-color: #67dce3;
				height: 18px;
				margin: 4px 20px 0 0;

				@include rwd-to(568) {
					display: none;
				}
			}

			&.talent-preview {
				@include rwd-to(668) {
					width: 100%;
				}
				.content {
					@include rwd-to(668) {
						width: 95%;
					}
					@include rwd-to(568) {
						width: 100%;
					}
				}
			}

			.content {
				float: left;
				border-bottom: 1px solid #d8d8d8;
				padding-bottom: 20px;
				position: relative;
				width: 97%;

				@include rwd-to(960) {
					width: 96%;
				}
				@include rwd-to(668) {
					width: 95%;
				}
				@include rwd-to(568) {
					width: 100%;
					margin-bottom: 10px;
				}

				.tag-input--dark {
					font-size: 16px;
					width: 70%;
					color: #484848;
				}

				textarea {
					border: 0;
					min-height: 30px;
				}

				.talent-star {
					float: right;

					@include rwd-to(568) {
						float: initial !important;
						margin-bottom: 5px;
					}
				}
			}
		}
	}
}
