.wrapper_main {
	width: 960px;
	margin: 0 auto;
}

.channel_personal_main {
	display: flex;
	margin: 20px 0;
}
.channel_personal_main .channel_social_main {
	min-width: 300px;
	max-width: 300px;
	margin-right: 20px;
}
.channel_personal_main .channel_personal_info_main {
	width: 100%;
	max-width: 640px;
}
.channel_social_main .channel_introduction {
	padding: 15px;
	border-radius: 3px;
	border: 1px solid #e8e8e8;
	background-color: #fff;
}
.channel_introduction .channel_introduction_content {
	margin-top: 10px;
	word-wrap: break-word;
	word-break: break-all;
}

.channel_social_main .channel_member {
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 3px;
	border: 1px solid #e8e8e8;
	background-color: #fff;
}
.channel_member .channel_member_main {
	padding: 15px;
	padding-top: 10px;
	border-bottom: 1px solid #e8e8e8;
}
.channel_member .channel_member_main .channel_member_main_title {
	display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.channel_member .channel_member_main .channel_member_main_img {
	margin-top: 8px;
}
.channel_member .channel_member_buttom {
	padding: 15px;
	padding-top: 10px;
}
/*
.channel_member_buttom .channel_member_input {
	border: 1px solid #d0d0d0;
	background-color: #fff;
	overflow: hidden;
	border-radius: 3px;
	margin-top: 8px;
}

.channel_member_buttom .channel_member_input ul {
	margin: 0;
	padding: 0;
}
.channel_member_buttom .channel_member_input ul li {
	float: left;
	padding: 5px;
	height: 35px;
}
.channel_member_buttom .channel_member_input ul li:first-child {
	border-right: 1px solid #d0d0d0;
	width: 229px;
	padding: 5px 10px;
}
.channel_member_buttom .channel_member_input ul li:last-child {
	width: 37px;
	cursor: pointer;
}
.channel_member_buttom .channel_member_input ul li input {
	width: 194px;
	border: 0;
	outline: none;
}
.channel_member_buttom .channel_member_input ul li i {
	font-size: 22px;
	margin-top: -7px;
}
*/
.channel_personal_info_main [class*="publication"] {
	margin-bottom: 15px;
}
.channel_social_main .channel_list {
	padding: 15px;
	border-radius: 3px;
	border: 1px solid #e8e8e8;
	background-color: #fff;
}
.channel_social_main .channel_list ul{
	margin-top: 15px;
}
.channel_social_main .channel_list li{
	border-bottom: 1px solid #e8e8e8;
	padding-bottom: 15px;
	margin-bottom: 15px;
}
.channel_social_main .channel_list li:last-child{
	border: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}
.channel_list .list_img img{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	margin-right: 16px;
	float: left;
	margin-top: 5px;
}
.channel_list .list_main .title{
	margin-bottom: 0;
	line-height: 1.3
}
.channel_list .list_main .viewer{
	color: #8A8A8A;
	display: block;
	margin-bottom: 5px;
}
.channel_content {
	margin-top: 15px;
}