.more_section {
  position: relative;
}

.more {
	position: relative;
	color: #0192b5;
	text-align: center;
}

.linear_bg {
	position: absolute;
	bottom: 25px;
	width: 100%;
	height: 40px;
  background: linear-gradient(hsla(0,0%,95%,0),#ffffff);
}
