.personal_content {
	display: flex;
	background: #fff;
	padding-top: 40px;
}
.personal_social_content {
	margin-bottom: 35px;
}
.social_main {
	padding-left: 30px;
}
.personal_info_main {
	padding: 0 30px;
}
.profile_component {
	margin-bottom: 15px;
	background: #fff;
}