// body 背景色
$body-background-color-ffffff: #ffffff;
$body-background-color-c9c9c9: #c9c9c9;

// 背景色
$background-color-ffffff: #ffffff;
$background-color-f5a623: #f5a623;
$background-color-000000: #000000;

// 字色
$text-color-000000: #000000;
$text-color-ffffff: #ffffff;
$text-color-666666: #666666;
$text-color-333333: #333333;
$text-color-484848: #484848;
$text-color-5e5e5e: #5e5e5e;
$text-color-f5b523: #f5b523;
$text-color-67dce3: #67dce3;
$text-color-00bddd: #00bddd;
$text-color-e6e6e6: #e6e6e6;
$text-color-2b2b2b: #2b2b2b;

// 邊框色
$border-color-f5b523: #f5b523;
$border-color-dfdfdf: #dfdfdf;
$border-color-ffffff: #ffffff;
$border-color-eaeaea: #eaeaea;
$border-color-eeeeee: #eeeeee;
$border-color-21dfe9: #21dfe9;
$border-color-67dce3: #67dce3;
$border-color-f1f1f1: #f1f1f1;

// 字體大小
$font-size-50px: 50px;
$font-size-30px: 30px;
$font-size-26px: 26px;
$font-size-16px: 16px;
$font-size-14px: 14px;
$font-size-12px: 12px;